* {
    margin: 0;
    /*ogliamo i margini e i padding che mette il browser*/
    padding: 0;
    box-sizing: border-box;
    /* Con border-box: padding e bordo restano. dentro i 300
    regola base diciamo */
}

/* width: 512px; limite per smartphone */
body {
    width: 512px;
    margin: 0 auto;
    /* Il browser di default mette un piccolo spazio attorno al body.
Con margin 0 elimini questo spazio .*/
    font-family: Arial;
    /*carattere del testo */
    background: #0b1b5a;
    /*colore sfondo preso da esercizio */
    color: white;
    /*testo del body sarà bianco */
}

/*header per centrare il testo */
header {
    text-align: center;
    padding: 40px 20px;
    /*sopra e sotto 40
    destra e sinistra 20*/
}

.div1 {
    width: 90%;
    margin: 0 auto;
    max-width: 420px;
    /*non superare 420px*/
    text-align: center;
    /*testo e gli inline sono centrati*/
}

.div1 img {
    width: 100%;
    /* occupa il 100% del padre di div1*/
    /*  border-radius: 16px; arrotonda per dare effetto cerchio come visto a lezione*/
    display: block;
    /* si comporta img come blocco*/
    margin: 0 auto;
}

header h1 {
    font-family: "Arial Black", Arial, sans-serif; 
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    /*testo in maiuscolo*/
    line-height: 1.1;
    margin-bottom: 14px;
    /*spazio titolo e paragrafo*/
}

header p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 24px;
}

.btn {
    /*classe che si occupa di tutti i bottoni o link */
    display: block;
    text-decoration: none;
    font-weight: 600;
    padding: 14px 18px;
    border-radius: 999px;
    margin: 0 auto 12px;
    max-width: 320px;
    text-align: center;
    font-size: 14px;
}

.btn.white {
    /* qui diamo sfondo bianco e testo grigio*/
    background-color: #ffffff;
    color: #23272a;
}

.btn.blue {
    /*come su diamo sfondo e colore al testo*/
    background-color: #5865f2;
    color: #ffffff;
}

.div2 {
    background-color: #3b46c5;
    margin: 0px 16px 24px;
    /* sopra 0 destra e sinistra 16 e sotto 24 */
    padding: 24px 20px 32px;
    border-radius: 24px;
    /* arrotonda lati della card */
    text-align: left;
    /* allinea a sinistra */
}

.div2 h2 { /*come h1 */
     font-family: "Arial Black", Arial, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-bottom: 16px;
}

.div2 p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.div2 img {
    width: 100%;
    border-radius: 16px;
    display: block;
    margin: 0 auto 16px;
}
.div2 button {
    display: inline-block;
    background-color: #ffffff;
    color: #23272a;
    border: none;
    border-radius: 999px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.emoji-icon {
    width: 15px;
    display: block;
    margin: 4px 0 8px 4px;
}

.div3 { /* preso stile usato del div 2 sopra  */
    background-color: #3b46c5;
    margin: 0 16px 24px;
    padding: 24px 20px 32px;
    border-radius: 24px;
    text-align: left;
}

.div3 h2 {
     font-family: "Arial Black", Arial, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.div3 p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.div3 img {
    width: 100%;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
}



